.main {
    background-color: #000000;
}

.programa {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tituloPrograma {
    height: 78vh;
    width: 40%;

}
.textoPrograma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;

    p {
        font-size: 18px;
        line-height: 25.78px;
        color: #FFFFFF;
        text-align: left;
        width: 84%;
    }
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;

}

.botaoAssistir{
    background-color: #FF0707;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 24%;
    height: 9vh;

    p{
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
    }
}

.botaoFavoritos {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    width: 52%;
    height: 9vh;

    p {
        color: #000000;
        font-weight: 500;
    }
}

.fundoPrograma {
    img {
        width: 59vw;
    }
}

.continuarAssistindo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 42vh;

    p {
        text-align: center;
        width: 16%;
        color: #FFFFFF;
    }    
}

.acompanharProgramas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.borda{
    border: 3px solid;
    border-image: linear-gradient(to right,red 80%, white 50%) 1;
}

@media (max-width:768px) {
    .main {

        .programa {
            display: flex;
            flex-direction: column-reverse;

        }

        .tituloPrograma {
            width: 98%;
            height: 10%;

            .tituloGrande {
                width: 92%;
            }
        }

        .botaoAssistir {
            width: 30%;
            height: 6.5vh;
        }

        .botaoFavoritos {
            width: 60%;
            height: 6.5vh;
        }

        .fundoPrograma {
            img{
                width: 96%;
            }
        }

        .continuarAssistindo {
            display: none;
        }

    }
}